/*-----------------
    4. Pagination
-----------------------*/

.pagination {
    .pagination {
        margin-bottom: 25px;
        width: 100%;
        text-align: center;                    
        .previtem {
            @include respond-below(custom575) {
                display: none;
            } 
            a {
                color: $gray;
                font-size: $font__size__14;
                min-width: 150px;
                padding: 15px 38px;
                border-radius: 10px;
                i {
                    margin-left: 8px;
                }
            }  
        } 
        .nextlink {
            @include respond-below(custom575) {
                display: none;
            } 
            a {
                color: $gray;
                font-size: $font__size__14;
                min-width: 150px;
                padding: 15px 38px;
                border-radius: 10px;
                i {
                    margin-right: 8px;
                }
            }  
        } 
    }
    .pagination-center {
        justify-content: $center;
        display: flex;
        .page-group {
            .page-item {
                a {
                    border: 1px solid $light__gray;
                    background: $white;
                    border-radius: 10px;
                    padding: 10px 19px;
                    margin: 0 12px 0 0;
                    color: $gray;
                    width: 46px;
                    height: 46px;
                    display: $flex;
                    justify-content: $center;
                    align-items: $center;                        
                }
                .active {
                    background-color: $dark__blues;
                    color: $white;
                }                    
            }
            ul {
                display: $flex;
                align-items: $center;
                justify-content: $center;
                margin: 0 0 0 10px;
            }
        }            
    } 
}